<div class="container-md mt-2">
  <h2 class="text-center">Base de Datos: {{dataBaseList.databaseName}}</h2>

  <div class=" ajustCenter">
    <div>
     <select [ngClass]="nameDataBase === '-1' ? 'placeholder-select' : 'text-select'" class="form-select" aria-label="Default select example" [(ngModel)]="nameDataBase" (change)="onChange($event)">
       <option selected value="-1" class="placeholder-select" >Seleccione una base de datos</option>
       <div *ngFor="let item of listDataBase; let i = index">
         <option [value]="item.Database" style="color: black;">{{i + 1}}) {{item.Database}}</option>
       </div>
     </select>
     <br>
    </div>
   </div>
</div>

<div class="colum-data">
  <div class="row">
    <div class="col-3 table-list">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        &#x200B;
      </div>
      <div class="d-grid gap-2 col-6 mx-auto" *ngFor="let item of listActionDB">
        <button type="button" class="btn btn-secondary mb-2" (click)="actionClick(item)">{{item.name}}</button>
      </div>
    </div>
    <div class="col-6">

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-danger mb-2" (click)="actionClickLimpiar()">Limpiar</button>
        <button class="btn btn-primary mb-2" type="button" (click)="actionClickEjecutar()">Ejecutar</button>
      </div>

      <ngx-codemirror
        #codeEditor
        class="mb-2"
        [(ngModel)]="content"
        [options]="editorOptions"
      ></ngx-codemirror>
      <br>
      <div class="nota">
        <p class="">
          Nota:
          <span
            >Recuerda siempre agregar un ';' al final de cada petición.</span
          >
        </p>
      </div>


      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-danger mb-2" (click)="actionClickLimpiarConsole()">Limpiar</button>
      </div>

      <div  *ngIf="responseQuery.length > 0">
        <div class="table-custom">
          <table class="table table-bordered ">
            <thead>
              <tr>
                <th *ngFor="let key of objectKeys(responseQuery[numTable].listadoRepuesta[0])">{{ key }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of responseQuery[numTable].listadoRepuesta">
                <td *ngFor="let key of objectKeys(row)">{{ row[key] }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="clickPage(0,false,true)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <div *ngFor="let item of responseQuery; let i = index">
              <li [ngClass]="i == numTable? 'active' : ''" class="page-item"><a class="page-link" (click)="clickPage(i)">{{i + 1}}</a></li>
            </div>
            <li class="page-item">
              <a class="page-link" (click)="clickPage(0,true,false)" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

      </div>

      <ngx-codemirror
        [(ngModel)]="console_text"
        [options]="editorOptionsConsole"
      ></ngx-codemirror>
    </div>

    <div class="col-3" >
      <h3 style="margin-top: 8px">Tablas:</h3>
      <div class="table-list">
        <ul
        class="list-group list-group-flush"
        *ngFor="let table of dataBaseList?.tables; let i = index"
       >
        <li class="list-group-item table-item" *ngIf="i === 0">
          <input class="form-check-input me-1" type="radio" name="listGroupRadio"  id="firstRadio" checked (click)="clickSelectTable('?')">
          <label class="form-check-label" for="firstRadio">Ninguno</label>
        </li>

        <li class="list-group-item table-item" >
          <input class="form-check-input me-1" type="radio" name="listGroupRadio"  id="firstRadio" (click)="clickSelectTable(table.tableName)">
          <label class="form-check-label" for="firstRadio" (click)="copyToClipboard(table.tableName)"  (dblclick)="onDoubleClick(table.tableName)"> {{ i + 1 }}) {{ table.tableName }}</label>
        </li>
      </ul>
      </div>
    </div>

  </div>
</div>
