.colum-data{
  margin: 1rem;
}

.table-list{
  max-height: 45rem !important;
  overflow-y: auto;
  scrollbar-width: thin;  /* Para Firefox */
  scrollbar-color: transparent transparent;
}

.table-custom {
  max-height: 30rem !important;
  overflow-y: auto;
  margin: 1rem auto;
  overflow-x: auto;
  background: #ffffff;
}
.table-list.scrollable::-webkit-scrollbar {
  width: 0px;  /* Oculta el scrollbar en Chrome/Safari/Edge */
  background: transparent; /* Lo hace invisible */
  scrollbar-width: thin;  /* Para Firefox */
  scrollbar-color: transparent transparent;
}
